@using WebApplication_Supermarket.Models;
@model List<Category>
@section title{
    <h1>Categories</h1> 
}    
    <br />
    <ul>
    @foreach(var category in Model)
    {
        <li>
            @category.Name
        </li>
    }
</ul>